// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 33px;
}

h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}
p {
  margin: 33px;
  font-size: 13px;
}